@model IEnumerable<ProgrammeringAPL.Models.Book>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a class="button" asp-action="Create">Lägg till bok</a>
</p>
<table class="table db-item">
    <thead>
        <tr>
            <th>
                Titel
            </th>
            <th>
                Författare
            </th>
            <th>
                Publicerad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearPublished)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
