@model ProgrammeringAPL.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/carousel-style.css">
</head>
<div class="carousel-container">
    <div class="carousel">
        @foreach (var project in Model.Projects)
        {
            
            var firstImage = project.Gallery.FirstOrDefault();
            if (firstImage != null)
            {
                <div class="carousel-item">
                    
                    <img src="@firstImage.ImagePath" alt="@project.Title" tabindex="0">
                    
                    <div class="carousel-caption">
                        <a href="/Projects/Details/@project.Id">
                            <h3>@project.Title</h3>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>

<section id="projekt">
    <h2>Mina projekt</h2>
    <ul>
        @foreach (var project in Model.Projects)
        {
            <li>
                <strong>@project.Title</strong>: @project.Description
                <br />
                <a href="/Projects/Details/@project.Id" target="_blank">Projektlänk</a> |
                <a href="@project.RepositoryUrl" target="_blank">Repository</a>
            </li>
        }
    </ul>
</section>

<script src="~/js/script.js"></script>



@*  @{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/carousel-style.css">
</head>
<div class="carousel-container">
    <div class="carousel">
        <div class="carousel-item">
            <img src="~/images/bild1.jpg" alt="Image 1" tabindex="0">
        </div>
        <div class="carousel-item">
            <img src="~/images/bild2.jpg" alt="Image 2" tabindex="0">
        </div>
        <div class="carousel-item">
            <img src="~/images/bild3.jpg" alt="Image 3" tabindex="0">
        </div>

    </div>
</div>

<section id="projekt">
    <h2>Mina projekt</h2>
    <ul>
        <li>Projekt 1: Python-algoritmer</li>
        <li>Projekt 2: Webbutveckling</li>
    </ul>
</section>

<script src="~/js/script.js"></script>  *@