@model ProgrammeringAPL.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


@if (Model.Gallery != null && Model.Gallery.Any())
{
    <img src="@Model.Gallery.First().ImagePath" class="card-img-top" alt="@Model.Title">
}
else
{
    <img src="~/images/default-image.jpg" class="card-img-top" alt="Default Image">
}

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        @if (!string.IsNullOrWhiteSpace(Model.Title))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
        }

        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        }

        @if (!string.IsNullOrWhiteSpace(Model.ProjectUrl))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProjectUrl)
            </dt>
            <dd class="col-sm-10">
                <a href="@Model.ProjectUrl" target="_blank">@Model.ProjectUrl</a>
            </dd>
        }

        @if (!string.IsNullOrWhiteSpace(Model.RepositoryUrl))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RepositoryUrl)
            </dt>
            <dd class="col-sm-10">
                <a href="@Model.RepositoryUrl" target="_blank">@Model.RepositoryUrl</a>
            </dd>
        }


        @if (!string.IsNullOrWhiteSpace(Model.DemoUrl))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DemoUrl)
            </dt>
            <dd class="col-sm-10">
                <a href="@Model.DemoUrl" target="_blank">@Model.DemoUrl</a>
            </dd>
        }


        @if (Model.CreatedDate != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-10">
                @Model.CreatedDate.ToString("dd MMMM yyyy")
            </dd>
        }

 
        @if (Model.LastUpdated != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastUpdated)
            </dt>
            <dd class="col-sm-10">
                @Model.LastUpdated;
            </dd>
        }




    </dl>
</div>

@* @if (Model.Gallery != null && Model.Gallery.Count() > 1)
{
    <div class="gallery">
        <h4>Gallery</h4>
        <div class="row">
            @foreach (var image in Model.Gallery.Skip(1))
            {
                
            
                <div class="col-md-4">
                    <img src="@image.ImagePath" class="img-fluid" alt="Gallery Image">
                    @if (!string.IsNullOrWhiteSpace(image.Caption))
                    {
                        <p>@image.Caption</p>
                    }
                </div>
            }
        </div>
    </div>
} *@

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
